{
    "env": {
          "browser": true,
          "angular": true,
          "node": true
    },

    "plugins": [
        "eslint-json"
    ],

    "rules": {
        // Rules are divided into sections from http://eslint.org/docs/rules/

        // Possible errors
        "no-comma-dangle": 0,
        "no-console": 0,

        // Best practices
        "block-scoped-var": 2,
        "complexity": [2, 10],
        "eqeqeq": [2, "smart"],
        "no-else-return": 2,
        "no-floating-decimal": 2,
        "wrap-iife": [2, "any"],
        "curly": 2,

        // Variables
        "no-use-before-define": 0,
        "no-undef": 2,

        // Node.js
        "no-mixed-requires": 0,

        // Stylistic issues
        "brace-style": 2,
        "camelcase": 0,
        "new-cap": 0,
        "no-lonely-if": 2,
        "no-underscore-dangle": 0,
        "space-after-keywords": 2,
        "object-curly-spacing": [2, "never"],
        "space-infix-ops": 2,
        "one-var": 2,
        "quotes": [2, "single"],
        "no-irregular-whitespace": 2, 

        // Legacy
        "no-bitwise": 2,
        "max-len": [2, 150, 4]
    },

    "globals": {
      "angular": true,
      "document": true, 
      "_": true,
      "$": true,
      "window": true 
    }
}
